/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

/*input {*/
/*    border: 1px solid transparent;*/
/*    !*background-color: #f1f1f1;*!*/
/*    padding: 10px;*/
/*    font-size: 16px;*/
/*}*/

/*input[type=text] {*/
/*    background-color: #f1f1f1;*/
/*    width: 100%;*/
/*}*/

/*input[type=submit] {*/
/*    background-color: DodgerBlue;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*}*/

.autocomplete-items {
    position: absolute;
    border: 1px solid #ced4da;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 15px;
    right: 15px;
    font-size: 11pt;
}

.autocomplete-items div {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #ced4da;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: #32C1DB !important;
    color: #ffffff;
}