.header{
    width: 100%;
    font-size: 10pt;
    border-spacing: 0;
    padding: 0;
}
.header tr td{
    vertical-align: top;
}
.body{
    width: 100%;
    font-size: 10pt;
    border-spacing: 0;
    padding: 0;
    margin-top: 20px;
    /*border: grey thin dashed;*/
    border-radius: 5px;
    overflow: hidden;
}
.body tr th{
    background-color: #f5f5f5;
    padding: 10px 15px;
    border-top: grey thin dashed;
}
.body tr td{
    padding: 10px 15px;
    /*border-bottom: #e0e0e0 thin solid;*/
}
.body tr:first-child th:first-child{
    border-top-left-radius: 5px;
    border-left: grey thin dashed;
}
.body tr:first-child th:last-child{
    border-top-right-radius: 5px;
    border-right: grey thin dashed;
}
.body tr td:first-child{
    border-left: grey thin dashed;
}
.body tr td:last-child{
    border-right: grey thin dashed;
}
.body tr:last-child td {
    border-bottom: grey thin dashed;
}
.body tr:last-child td:first-child{
    border-bottom-left-radius: 5px;
}
.body tr:last-child td:last-child{
    border-bottom-right-radius: 5px;
}
.container{
    width: 100%;
    border-spacing: 0;
}
.container tr td{
    padding: 3px;
}
*{
    /*font-family: hack, monospace;*/
    font-family: sans-serif;
    /*font-family: 'Ubuntu Mono', monospace;*/
    color: #343030;
}

.w30{width: 30px}
.w50{width: 50px}
.w130{width: 130px}
.pt10{padding-top: 10px}
.pb10{padding-bottom: 10px}
.pb20{padding-bottom: 20px !important;}
.font-primary{color: #51bfd9 !important;}
.font-9pt{font-size: 9pt}
.ta-c{text-align: center}
.ta-r{text-align: right}
.ta-l{text-align: left}