body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -18rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    position: fixed;
    z-index: 100;
}

#sidebar-closed{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: .6;
    display: none;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 18rem;
}

#page-content-wrapper {
    min-width: 100vw;
    position: absolute;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#wrapper.toggled #sidebar-closed{
    display: block;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        /*margin-left: 0;*/
        margin-left: -18rem;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper{
        margin-left: 0;
    }

    #wrapper.toggled #sidebar-closed{
        display: block;
    }
}
.btn-back{
    cursor: pointer;
}
.btn-back:hover{
    opacity: .7;
}
.container-isi{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    top: 60px;
}
.container-checkout{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #eceff1;
    height: 60px;
}

.img-produk{
    background-size: cover;
    background-position-y: 20%;
    background-position-x: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.jumlah-item-produk{
    border: none;
    width: 100%;
    text-align: center;
    /*padding-left: 15px;*/
}
.input-jumlah-cart{
    border: none;
    width: 100%;
    text-align: center;
    /*padding-left: 0;*/
    font-size: 14px;
    height: 27px;
    margin-top: 0;
}
.box-harga{
    line-height: 22px;
    max-height: 24px;
    overflow-wrap: break-word;
    overflow: hidden;
}
.font-harga{
    font-size: 14px;
    font-weight: bold;
}
.box-tempat{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    max-height: 21px;
    overflow: hidden;
}
.box-nama{
    color: rgba(0, 0, 0, 0.7);
    display: -webkit-box;
    max-height: 38px;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    overflow-wrap: break-word;
    overflow: hidden;
}
.col-produk{
    padding: 5px;
}
.col-kat{
    padding: 10px;
    flex: 0 0 20%;
    max-width: 20%;
    cursor: pointer;
}
.card-produk{
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    border: none !important;
    overflow: hidden;
}
.icon-kat{
    color: #32C1DB;
    font-size: 30px;
    float: left;
    width: 100%;
    text-align: center;
    margin-left: 0;
    padding-top: 10px;
}
.img-kat{
    /*vertical-align: top;*/
    margin-top: 0;
    height: 30px;
}
.text-kat{
    float: left;
    width: 100%;
    text-align: center;
    margin-left: 0;
    height: 15px;
    line-height: 15px;
    font-size: 14px;
    margin-bottom: 20px;
}
.text-kat tr td{
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.7);
}
@media (max-width: 349px){
    .col-produk{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .img-produk{
        height: 170px;
    }
    .jumlah-item-produk{
        /*padding-left: 0;*/
    }
}
@media (min-width: 350px){
    .col-produk{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .img-produk{
        height: 200px;
    }
    .jumlah-item-produk{
        /*padding-left: 0;*/
    }
}
@media (min-width: 450px){
    .col-produk{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .img-produk{
        height: 270px;
    }
}
@media (min-width: 576px){
    .col-produk{
        flex: 0 0 33.3%;
        max-width: 33.3%;
    }
    .img-produk{
        height: 230px;
    }
}
@media (min-width: 768px){
    .col-produk{
        flex: 0 0 25%;
        max-width: 25%;
    }
    .img-produk{
        height: 220px;
    }
    .jumlah-item-produk{
        /*padding-left: 15px;*/
    }
    .card-kat{
        box-shadow: none;
        border: none;
    }
}
@media (min-width: 992px){
    .img-produk{
        height: 300px;
    }
    .card-kat{
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;

        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.2) !important;
        border: none !important;
        border-radius: 8px;

        /*box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;*/
        /*border: 1px solid rgba(0, 0, 0, 0.125);*/
        /*border-radius: 0.25rem;*/
    }
    .card-kat:hover{
        background: rgba(0, 0, 0, .03);
    }
    .col-kat{
        padding: 5px;
    }
    .icon-kat{
        width: 50px;
        margin-left: 20px;
        padding-top: 0;
        font-size: 40px;
    }
    .img-kat{
         vertical-align: top;
         margin-top: 10px;
         height: 40px;
     }
    .text-kat{
        width: 100px;
        margin-left: 10px;
        height: 60px;
        /*line-height: 60px;*/
        text-align: left;
        margin-bottom: 0;
    }
    .text-kat tr td{
        padding-left: 0;
        padding-right: 0;
    }
}
@media (min-width: 1200px){
    .col-produk{
        flex: 0 0 20%;
        max-width: 20%;
    }
    .img-produk{
        height: 240px;
    }
    .text-kat{
        width: 120px;
    }
}

.img-cart{
    width: 70px;
    height: 70px;
    background-size: cover;
    background-position-y: 20%;
    background-position-x: 50%;
}
.btn-add-cart{
    width: 100%;
    background: #ebebeb;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 4px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus { outline: none; }