.font-12px{
    font-size: 12px;
}
.font-14px{
    font-size: 14px;
}
.font-16px{
    font-size: 16px;
}
.img-produk{
    background-size: cover;
    background-position-y: 20%;
    background-position-x: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.font-dg{
    color: rgba(0, 0, 0, 0.68) !important;
}
.font-dgl{
    color: rgba(0, 0, 0, 0.54) !important;
}